body {
    font-family: Arial, Helvetica, sans-serif;
}

a {
    color: #FFF;
}

.container {
    max-width: 100%;
    background: url("/image/topbg.jpg") repeat-x;
    color: #28457D;
    font-family: "微软雅黑";
}

.header {
    /*background-color: rgb(47, 240, 201);*/
    background: url("/image/topbgr.jpg") no-repeat right top;
    width: 1050px;
    height: 116px;
    margin: 0 auto;
}

.header .logo {
    width: 246px;
    float: left;
    height: 116px;
    background: url("/image/logo.jpg");
    margin-left: 28px;
}

.header .auth {
    width: 117px;
    float: right;
    height: 30px;
}

.header .auth a {
    background-color: #27457B;
    display: inline-block;
    width: 56px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    float: left;
    margin-left: 1px;
    font-size: 12px;
}

.nav {
    clear: both;
    width: 776px;
    height: 66px;
    background-color: #27457B;
    display: inline-block;
    margin-top: 20px;
}

.nav ul li {
    display: inline-block;
    width: 110px;
    height: 66px;
    text-align: center;
    line-height: 66px;
    font-weight: bold;
    background: url("/image/s.jpg") no-repeat 0px 25px;
}

.nav ul li:first-child {
    width: 86px;
}

.nav ul li a {
    display: inline-block;
    width: 100%;
    height: 100%;
    font-size: 16px;
}

.footer-wrapper{
    height: 157px;
    background: #979995; /* Old browsers */
    background: -moz-linear-gradient(top,  #979995 1%, #c8c9c1 6%, #eeefed 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#979995), color-stop(6%,#c8c9c1), color-stop(100%,#eeefed)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #979995 1%,#c8c9c1 6%,#eeefed 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #979995 1%,#c8c9c1 6%,#eeefed 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #979995 1%,#c8c9c1 6%,#eeefed 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #979995 1%,#c8c9c1 6%,#eeefed 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#979995', endColorstr='#eeefed',GradientType=0 ); /* IE6-9 */
}

.footer {
    clear: both;
    width: 1050px;
    margin: 0 auto;
    padding-top: 20px;
    font-size: 14px;
}

.footer a, .footer p {
    color: #333;
}

.footer p {
    margin-bottom: 10px;
}

.footer ul li {
    margin-bottom: 5px;
    font-size: 12px;
}

.footer .links {
    width: 700px;
    display: inline-block;
}

.footer .links .company {
    width: 190px;
    display: inline-block;
    border-right: 1px solid #eee;
}

.footer .links .cooperators{
    margin-left: 30px;
    display: inline-block;
}

.footer .copyright {
    width: 345px;
    display: inline-block;
}

.footer .copyright p{
    float: right;
    font-size: 12px;
}

p.site-info {
    width: 100%;
    text-align: center;
    padding: 5px 0;
}

.cars {
    width: 1050px;
    margin: 20px auto;
    height: 350px;
    background: url("/image/banner.jpg") no-repeat top left;
}

.cars form {
    margin-left: 30px;
}

.cars form label {
    display: inline-block;
    color: #FFF;
    padding-left: 20px;
    width: 224px;
    height: 37px;
    line-height: 37px;
    background-color: #008000;
    margin: 20px 0;
}

.cars form button[type="submit"] {
    display: block;
    height: 37px;
    width: 200px;
}

.cars form button[type="submit"],
.cars input[type="radio"]{
    margin-left: 10px;
}

.cars form select {
    display: block;
    background: white;
    width: 244px;
    padding: 5px;
    margin-bottom: 10px;
    font-size: 16px;
    line-height: 1;
    border: 0;
    border-radius: 0;
    height: 34px;
    -webkit-appearance: none;
}

.cars form .certificate {
    font-size: 0.8em;
    color: #fff;
}

.info-wrapper {
    background-color: #F8F8F8;
}

.info {
    padding: 5px 5px;
    width: 1050px;
    margin: 10px auto;
}

.info .messages {
    margin-top: 5px;
    display: inline-block;
    width: 70%;
    height: 100%;
}

.info .barcode {
    display: inline-block;
    height: 100%;
    width: 29%;
    border: 1px solid #333;
    line-height: 100px;
    text-align: center;
    vertical-align: top;
}

.info .messages .recommends,
.info .messages .contract,
.info .messages .buy,
.info .messages .sell,
.info .messages .loan,
.info .messages .certificate {
    display: inline-block;
    text-align: center;
    border: 1px solid #333;
    margin-top: 5px;
    text-align: center;
    line-height: 50px;
}

.info .messages .recommends,
.info .messages .contract {
    height: 230px;
}

.info .messages .recommends {
    width: 65%;
    vertical-align: top;
}

.info .messages .contract {
    width: 33%;
}

.info .messages .buy,
.info .messages .sell,
.info .messages .loan,
.info .messages .certificate {
    width: 24.1%;
    height: 53px;
}

.car-images {
    display: inline-block;
}

.car-details {
    display: inline-block;
    width: 40%;
}