.user-info {
    border: 1px solid #333;
    width: 100%;
    height: 100px;
    margin-top: 10px;
}

.user-info .logo{
    border-right: 1px solid #333;
    width: 30%;
    text-align: center;
    line-height: 100px;
}

.user-info .logo,
.user-info .private{
    display: inline-block;
    vertical-align: top;
}

.user-info .private {
    margin: 0;
    width: 68%;
    height: 100px;
    text-align: center;
    line-height: 100px;
}

.user-nav {
    display: inline-block;
    width: 20%;
    height: 750px;
    border-right: 1px solid #333;
    border-left: 1px solid #333;
}

.user-nav ul{
    width: 80%;
    margin: 0 auto;
}


.user-nav ul li{
    display: block;
    width: 6em;
    border: 3px double #333;
    text-align: center;
    padding: 5px;
    margin: 20px auto;
}

.sell {
    display: inline-block;
    width: 79.212345%;
    border-right: 1px solid #333;
    height: 750px;
    vertical-align: top;
}

.sell form {
    margin-left: 5px;
}

.sell form h3{
    margin-top: 40px;
    border-bottom: 1px solid #333;
    padding-bottom: 5px;
    font-weight: bold;
}

.sell form>div {
    margin-top: 20px;
}

.sell form div label{
    width: 20%;
    text-align: right;
    display: inline-block;
    vertical-align: top;
}

.sell form div label span {
    color: red;
}

.sell form .basic-info>div{
    margin-top: 10px;
    vertical-align: top;
}

.sell form .basic-info .location div {
    display: inline-block;
}

.sell form .basic-info .location div input {
    display: block;
    width: 25em;
}

.sell form .basic-info .car-identity>span{
    font-size: 0.8em;
}

.sell form .appearance .images{
    margin-left: 30px;
}

.sell form .appearance .images ul li{
    display: inline-block;
    height: 6em;
    vertical-align: top;
}

.sell form .appearance .images ul li:first-child{
    width: 1em;
}

.sell form .appearance p {
    font-size: 0.8em;
    margin-top: 20px;
}

.sell form .owner input {
    width: 12em;
}

.sell form>label.agreement{
    width: 11em;
    display: block;
    margin-left: 20%;
    margin-top: 20px;
}

.sell button {
    width: 4em;
    margin-top: 20px;
    margin-left: 25%;
}