.basic-info {
    padding-top: 20px;
    padding-left: 30px;
    width: 820px;
    color: #666666;
    font-size: 18px;
    background-color: white;
}

.basic-info a {
    color: #666666;
}

.basic-info h3 {
    border-bottom: 1px solid #EFEFEF;
    padding-bottom: 10px;
    font-size: 25px;
}

.basic-info form {
    margin-top: 60px;
    padding-bottom: 40px;
}

.basic-info form div {
    height: 70px;
}

.basic-info form div label {
    width: 185px;
    text-align: right;
    display: inline-block;
    margin-right: 10px;
}

.basic-info form div.bind-email a,
.basic-info form div.bind-mobile a
{
    margin-left: 20px;
}

.basic-info form div.bind-email span.unbind {
    color: #f7f7f7;
}

.basic-info form div input[type="text"] {
    width: 438px;
    height: 35px;
    font-size: 18px;
}

.basic-info form div.nickname,
.basic-info form div.real-name,
.basic-info form div.id
{
    line-height: 43px;
}

.basic-info form div.location div {
    margin-left: 202px;
    margin-top: 10px;
}

.basic-info form button {
    width: 288px;
    height: 38px;
    margin-left: 202px;
    border: 1px solid #EFEFEF;
    margin-top: 30px;
    font-size: 20px;
    letter-spacing: 10px;
    color: #fff;
}


