<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.amateur.persistence.ModelMapper">

	<cache />

	<select id="getModelById" parameterType="int" resultMap="resultModel">
		SELECT
		m.model_id,
		m.model_name,
		m.sub_series,
		m.displacement,
		m.transmission_type,
		m.launch_year,
		m.driven_type,
		m.series_id
		FROM model
		m WHERE m.model_id = #{modelId}
	</select>

	<resultMap type="Model" id="resultModel">
		<result property="modelId" column="model_id" />
		<result property="modelName" column="model_name" />
		<result property="subSeries" column="sub_series" />
		<result property="displacement" column="displacement" />
		<result property="transmissionType" column="transmission_type" />
		<result property="launchYear" column="launch_year" />
		<result property="drivenType" column="driven_type" />
		<result property="seriesId" column="series_id" />
	</resultMap>

</mapper>