<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.amateur.persistence.ProductImageMapper">

	<cache />

	<insert id="insertProdutImage" parameterType="ProductImage"
		useGeneratedKeys="true" keyProperty="imageId">
		insert into product_image
		(name, description, size_jumbo, size_large,
		size_regular,
		size_small, size_thumbnail, type)
		values
		(#{name},
		#{description}, #{sizeJumbo}, #{sizeLarge}, #{sizeRegular},
		#{sizeSmall}, #{sizeThumbnail}, #{type})
	</insert>

	<update id="updateProdutImage" parameterType="ProductImage">
		update
		product_image set
		name = #{name},
		description = #{description},
		product_id = #{productId},
		type = #{type},
		update_time = #{updateTime}
		where image_id = #{imageId}
	</update>

	<delete id="deleteProdutImage" parameterType="String">
		delete from
		product_image where product_id = #{productId}
	</delete>

</mapper>