<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.amateur.persistence.ProvinceMapper">

	<cache />

	<select id="getAllProvinces" resultMap="resultProvince">
		select
		p.province_id as provinceId,
		p.province_name as provinceName,
		p.province_type as provinceType,
		c.city_id as cityId,
		c.city_name as cityName,
		ct.county_id as countyId,
		ct.county_name as countyName
		from province p
		left join city c on p.province_id = c.province_id
		left join county ct on c.city_id = ct.city_id
		order by province_sort, city_sort, county_sort
	</select>

	<resultMap type="Province" id="resultProvince">
		<id property="provinceId" column="provinceId" />
		<result property="provinceName" column="provinceName" />
		<collection property="cityList" ofType="City">
		    <id property="cityId" column="cityId"/>
		    <result property="cityName" column="cityName" />
		    <collection property="countyList" ofType="County">
		        <id property="countyId" column="countyId"/>
		        <result property="countyName" column="countyName" />
		    </collection>
		</collection>
	</resultMap>

</mapper>