<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.amateur.persistence.ResetPasswordRecordMapper">

  	<cache />

    <select id="findRecordByAccountId" parameterType="Integer" resultType="ResetPasswordRecord">
	    SELECT
			*
	    FROM reset_password_record
	    WHERE account_id=#{accountId}
    </select>
    <insert id="insertResetPasswordRecord" parameterType="ResetPasswordRecord">
		INSERT INTO reset_password_record (active_code,expired_date,account_id,mail)
		VALUES (#{activeCode}, #{expiredDate}, #{accountId}, #{mail})
	</insert> 
	<delete id="deleteResetPasswordRecord" parameterType="ResetPasswordRecord">
		DELETE FROM reset_password_record WHERE account_id=#{accountId}
	</delete>
	<update id="updateResetPasswordRecod" parameterType="ResetPasswordRecord">
		UPDATE reset_password_record SET active_code=#{activeCode},expired_date=#{expiredDate} WHERE account_id=#{accountId}
	</update>
</mapper>