<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:jdbc="http://www.springframework.org/schema/jdbc"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:jee="http://www.springframework.org/schema/jee"
	xsi:schemaLocation="
     http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd
     http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
     http://www.springframework.org/schema/jdbc http://www.springframework.org/schema/jdbc/spring-jdbc-3.0.xsd
     http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
     http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
     http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd
     http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-3.2.xsd">
	
	<context:property-placeholder location="classpath:configuration.properties" />
	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource"
		destroy-method="close">
		<property name="driverClassName" value="com.mysql.jdbc.Driver" />
		<property name="url" value="jdbc:mysql://localhost:3306/usedcar?autoReconnect=true&amp;autoReconnectForPools=true&amp;useUnicode=true&amp;characterEncoding=UTF-8&amp;zeroDateTimeBehavior=convertToNull&amp;socketTimeout=72000000" />
		<property name="username" value="${jdbc.username}" />
		<property name="password" value="${jdbc.password}" />
		<property name="removeAbandoned" value="true" />
		<property name="initialSize" value="5" />
		<property name="minIdle" value="5"/>
		<property name="validationQuery" value="SELECT 1;"/>
		<property name="maxActive" value="10" />		
	</bean>

	<!-- transaction manager, use JtaTransactionManager for global tx -->
	<bean id="transactionManager"
		class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource" />
	</bean>
	
	<tx:annotation-driven transaction-manager="transactionManager" />
	
	<context:component-scan base-package="com.amateur" />

	<mvc:interceptors>
		<bean class="com.amateur.interceptor.ProfileInitializerInterceptor">
			<property name="siteConfiguration" ref="siteConfiguration" />
			<property name="accountService" ref="accountService" />
		</bean>
		<mvc:interceptor>
			<mvc:mapping path="/account/**.json" />
			<bean class="com.amateur.interceptor.MobileAuthorizationInteceptor">
				<property name="ingorePaths">
					<array>
						<value>/account/obtainCode</value>
					</array>
				</property>
			</bean>
		</mvc:interceptor>		
		<mvc:interceptor>
			<mvc:mapping path="/account/**" />
			<bean class="com.amateur.interceptor.UserAuthorizationInteceptor">
				<property name="accountAccessDenyURL" value="/login" />
				<property name="ingorePaths">
					<array>
						<value>/account/obtainCode</value>
						<value>/account/resetPassword</value>
						<value>/account/forgetPasswordByMail</value>
					</array>
				</property>
			</bean>
		</mvc:interceptor>
		<mvc:interceptor>
			<mvc:mapping path="/admin/**" />
			<bean class="com.amateur.interceptor.AdminAuthorizationInteceptor">
				<property name="accountAccessDenyURL" value="/admin/accessDenied" />
				<property name="ingorePaths">
					<array>
						<value>/admin/login</value>
						<value>/admin/accessDenied</value>
					</array>
				</property>
			</bean>
		</mvc:interceptor>		
	</mvc:interceptors>

	<bean
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix">
			<value>/WEB-INF/jsp/</value>
		</property>
		<property name="suffix">
			<value>.jsp</value>
		</property>
	</bean>
	<mvc:view-controller path="/index.html" view-name="index" />
	<mvc:view-controller path="/admin/welcome"/>
	<mvc:view-controller path="/admin/accessDenied"/>
	<mvc:view-controller path="/admin/staticPage/index"/>
	<mvc:view-controller path="/admin/staticPage/queryPage"/>
	<mvc:view-controller path="/admin/staticPage/addPage"/>
	<mvc:view-controller path="/admin/staticPage/deletePage"/>
	<mvc:view-controller path="/admin/search/index"/>
	<mvc:view-controller path="/" view-name="index" />
	<mvc:view-controller path="/cardetails" view-name="cardetails" />
	<mvc:view-controller path="/loginfailed"
		view-name="loginfailed" />
    <mvc:view-controller path="/registersuccess"
		view-name="registersuccess" />
    <mvc:view-controller path="/registerfailed"
		view-name="registerfailed" />
    <mvc:view-controller path="/findpwdsuccess"
		view-name="findpwdsuccess" />
	<mvc:view-controller path="/secure/sellcar"
		view-name="secure/sellcar" />
	<mvc:view-controller path="/secure/basicinfo"
		view-name="secure/basic_info" />
	<mvc:view-controller path="/secure/detailinfo"
		view-name="secure/detail_info" />
	<mvc:view-controller path="/secure/changepassword"
		view-name="secure/change_password" />
	<mvc:resources mapping="/css/**" location="/css/" />
	<mvc:resources mapping="/image/**" location="/image/" />
	<mvc:resources mapping="/js/**" location="/js/" />
	<mvc:resources mapping="/test/**" location="/test/" />
	<mvc:resources mapping="/productImage/**" location="${product.image.location}"/>
	<bean id="messageSource"
		class="org.springframework.context.support.ReloadableResourceBundleMessageSource">
		<property name="basename">
			<value>classpath:/messages</value>
		</property>
		<property name="defaultEncoding" value="UTF-8" />
		<property name="cacheSeconds" value="-1" />
	</bean>
	<!-- enable autowire -->
	<context:annotation-config />
	<mvc:annotation-driven />

	<!-- define the SqlSessionFactory -->
	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="typeAliasesPackage" value="com.amateur.domain" />
		<property name="configLocation" value="classpath:/mybatis-config.xml" />
	</bean>

	<!-- scan for mappers and let them be autowired -->
	<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
		<property name="basePackage" value="com.amateur.persistence" />
	</bean>

	<bean id="sequenceService" class="com.amateur.service.SequenceService">
		<property name="account" value="account" />
		<property name="product" value="product" />
		<property name="sequenceInitMap">
			<map>
				<entry key="account" value=";10000; " />
				<entry key="product" value="prod;10000; " />
			</map>
		</property>
	</bean>
	<bean id="siteConfiguration" class="com.amateur.configuration.SiteConfiguration">
		<property name="resellerTypeName" value="resellerType" />
		<property name="siteName" value="二手车" />
		<property name="cookieLoginValidDays" value="365"/>
		<property name="mobileTokenValidDays" value="365"/>
		<property name="imageSizeDimensionMap">
			<map>
				<entry key="jumbo_size" value="800:600" />
				<entry key="large_size" value="400:300" />
				<entry key="regular_size" value="200:150" />
				<entry key="small_size" value="100:75" />
				<entry key="thumbnail_size" value="50:35" />
			</map>
		</property>	
		<property name="imageSizeSuffixMap">
			<map>
				<entry key="jumbo_size" value="_jumbo" />
				<entry key="large_size" value="_large" />
				<entry key="regular_size" value="_regular" />
				<entry key="small_size" value="_small" />
				<entry key="thumbnail_size" value="_thumbnail" />
			</map>			
		</property>	
		<property name="productImageContext" value="/productImage"/>
		<property name="dynamicServerHostNameURL" value="${dynamicServerHostNameURL}"/>
		<property name="staticServerHostNameURL" value="${staticServerHostNameURL}"/>
	</bean>
	<bean id="searchConfiguration" class="com.amateur.search.configuration.SearchConfiguration">
		<property name="serverURL" value="http://localhost/solr/"/>
	</bean>
	<bean id="encryptionUtil" class="com.amateur.util.EncryptionUtil">
		<property name="passwordPublicKey">
			<value>classpath:/conf/usedcar_public</value>
		</property>
	</bean>
	<bean id="multipartResolver"
		class="org.springframework.web.multipart.commons.CommonsMultipartResolver" />
	
	<!-- Add beans for email function -->
	<bean id="freeMarkerConfigurer"
		class="org.springframework.web.servlet.view.freemarker.FreeMarkerConfigurer">
		<property name="templateLoaderPath" value="classpath:mailtemplates" />
		<property name="freemarkerSettings">
			<props>
				<prop key="template_update_delay">0</prop>
				<prop key="default_encoding">UTF-8</prop>
				<prop key="locale">zh_CN</prop>
			</props>
		</property>
	</bean>
	<bean id="mailSender" class="org.springframework.mail.javamail.JavaMailSenderImpl">		
	<property name="host" value="smtp.163.com" />
	<property name="username" value="testForgetpwd@163.com" />
	<property name="password" value="usedcar" />
	<property name="defaultEncoding" value="UTF-8" />
	<property name="javaMailProperties">  
    	<props>  
        	<prop key="mail.smtp.auth">true</prop>  
            <prop key="mail.smtp.timeout">25000</prop>  
			<prop key="mail.transport.protocol">smtp</prop>
        </props>  
    </property>  
</bean>

<bean id="freeMarker" class="org.springframework.web.servlet.view.freemarker.FreeMarkerConfigurer">        
      <property name="templateLoaderPath" value="classpath:mailtemplates"/>          
      <property name="freemarkerSettings">                                
          <props>        
              <prop key="template_update_delay">3600</prop>                
              <prop key="default_encoding">UTF-8</prop>               
              <prop key="locale">zh_CN</prop>                          
          </props>        
      </property>        
</bean>

<bean id="messageSender" class="com.amateur.service.impl.MessageSenderServiceImpl">		
	<property name="userid" value="2346" />
	<property name="account" value="scwl" />
	<property name="password" value="ytw567kmnb" />
</bean> 

	<bean id="imageUtil" class="com.amateur.util.ImageUtil">
 		<property name="productImageLocation" value="${product.image.location}"/>
 		<property name="productImageOriginalLocation" value="${product.image.origin.location}"/>
	</bean>
	
</beans>
